HTML BODY CENTER DIV#usrbar {
	LINE-HEIGHT: 20px! important; HEIGHT: 20px! important
}
HTML BODY CENTER DIV#usrbar {
	BACKGROUND: url(c055f1ca36ae823cbf09e6c8.gif) repeat-x; FILTER: none! important; COLOR: #666! important; TEXT-DECORATION: none! important; moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar A {
	BACKGROUND: url(c055f1ca36ae823cbf09e6c8.gif) repeat-x; FILTER: none! important; COLOR: #666! important; TEXT-DECORATION: none! important; moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar A:link {
	BACKGROUND: url(c055f1ca36ae823cbf09e6c8.gif) repeat-x; FILTER: none! important; COLOR: #666! important; TEXT-DECORATION: none! important; moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar A:visited {
	BACKGROUND: url(c055f1ca36ae823cbf09e6c8.gif) repeat-x; FILTER: none! important; COLOR: #666! important; TEXT-DECORATION: none! important; moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar NOBR {
	BACKGROUND: url(c055f1ca36ae823cbf09e6c8.gif) repeat-x; FILTER: none! important; COLOR: #666! important; TEXT-DECORATION: none! important; moz-opacity: 1
}
HTML BODY CENTER DIV#usrbar A:hover {
	COLOR: #999! important
}
IMG.down-arrow {
	BORDER-RIGHT: #888888 1px solid; BORDER-TOP: #888888 1px solid; FILTER: gray! important; BORDER-LEFT: #888888 1px solid; BORDER-BOTTOM: #888888 1px solid
}
#hi_index {
	
}
#nav_extra .top A {
	COLOR: #666666! important; TEXT-DECORATION: none! important
}
#nav_extra .body A {
	COLOR: #666666! important; TEXT-DECORATION: none! important
}
HTML BODY CENTER DIV#ft {
	COLOR: #96b6dc! important
}
HTML {
	SCROLLBAR-FACE-COLOR: #f2f2f2; OVERFLOW-X: hidden; SCROLLBAR-HIGHLIGHT-COLOR: #fff; SCROLLBAR-SHADOW-COLOR: #d2d4d4; SCROLLBAR-3DLIGHT-COLOR: #d2d4d4; SCROLLBAR-ARROW-COLOR: #d2d4d4; SCROLLBAR-TRACK-COLOR: #fff; SCROLLBAR-DARKSHADOW-COLOR: #fff; SCROLLBAR-BASE-COLOR: #f2f2f2
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(0cf13a191ce5c85fdbb4bda1.jpg) #f2f0ca; OVERFLOW-X: hidden; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #333; PADDING-TOP: 0px
}
A:link {
	FONT-SIZE: 12px; COLOR: #62431b; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #62431b; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #62431b; TEXT-DECORATION: underline
}
DIV.line {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: url(57647545b16f1a03cefca3ea.gif) repeat-x; MARGIN: 8px 0px 0px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#main {
	PADDING-RIGHT: 0px! important; PADDING-LEFT: 0px! important; BACKGROUND: url(d7c0ce335fd315dd1b4cff3b.jpg) no-repeat 50% 0%; PADDING-BOTTOM: 57px! important; MARGIN: 0px 0px -30px; PADDING-TOP: 0px! important
}
#header {
	 HEIGHT: 450px
}
#header DIV.lc {
	
}
#header DIV.tit {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; LEFT: 100px; COLOR: #fff; LINE-HEIGHT: 30px; TOP: 50px
}
#header DIV.tit A.titlink {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #fff; LINE-HEIGHT: 30px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; TEXT-DECORATION: none
}
#header DIV.tit A.titlink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 20px; COLOR: #fff; LINE-HEIGHT: 30px; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; TEXT-DECORATION: none
}
#header DIV.desc {
	FONT-SIZE: 13px; LEFT: 120px; COLOR: #fff; LINE-HEIGHT: 25px; TOP: 80px; TEXT-ALIGN: left
}
#tabline {
	DISPLAY: none
}
#tab {
	FONT-SIZE: 14px; LEFT: 350px; 
COLOR: #7e752a; TOP: 415px
}
#tab A.on {
	FONT-SIZE: 14px; BACKGROUND: #7e752a; COLOR: #fff; TEXT-DECORATION: none
}
#tab A.on:link {
	FONT-SIZE: 14px; COLOR: #fff
}
#tab A.on:visited {
	FONT-SIZE: 14px; COLOR: #fff
}
#tab A.on:hover {
	FONT-SIZE: 14px; BACKGROUND: #7e752a; COLOR: #fff
}
#tab SPAN {
	DISPLAY: none
}
#tab A:link {
	FONT-SIZE: 14px; COLOR: #7e752a; TEXT-DECORATION: none
}
#tab A:visited {
	FONT-SIZE: 14px; COLOR: #7e752a; TEXT-DECORATION: none
}
#tab A:hover {
	FONT-SIZE: 14px; BACKGROUND: url(70fc1b344ad56c91d1a2d353.jpg) no-repeat; COLOR: #7e752a
}
.stage {
	BACKGROUND-POSITION: center top; MARGIN: 0px auto -40px; BACKGROUND-REPEAT: repeat-y; TEXT-ALIGN: center
}
.stagepad {
	MARGIN: 0px auto 40px; WIDTH: 960px; POSITION: relative
}
#layout {
	MARGIN: 0px auto; WIDTH: 874px; 
POSITION: relative
}

#comm_info {
	FONT-SIZE: 12px; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
#comm_info DIV.line {
	DISPLAY: none
}
#comm_info A {
	FONT-SIZE: 12px
}
#comm_info .modbox {
	FONT-SIZE: 12px
}

.mod {
	MARGIN-BOTTOM: 0px
}
.modhandle {
	CURSOR: move
}
.modth {
	HEIGHT: 25px
}
.modhead {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
.modopt {
	PADDING-RIGHT: 4px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 4px
}
.modtit {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #7e752a; TEXT-DECORATION: none
}
A.modtit {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #7e752a; TEXT-DECORATION: none
}
A.modtit:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #7e752a; TEXT-DECORATION: none
}
.modact {
	FONT-SIZE: 12px
}
A.modact:link {
	
}
A.modact:visited {
	
}
.modtl {
	BACKGROUND: url(4e73952ca7ee57c98a13999d.gif) no-repeat 100% 100%; WIDTH: 5px; HEIGHT: 25px
}
.modtc {
	BACKGROUND: url(ad7f6bec32229d0262d09f9d.gif) repeat-x 0% 100%
}
.modtr {
	BACKGROUND: url(36b3a127d8e10926918f9d9d.gif) no-repeat 0% 100%; WIDTH: 5px; HEIGHT: 25px
}
.modbox {
	BORDER-RIGHT: #c3bd5b 1px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: #fff; PADDING-BOTTOM: 10px; BORDER-LEFT: #c3bd5b 1px solid; PADDING-TOP: 10px
}
.modbl {
	BACKGROUND: url(de7035032dbe5ec908fa939d.gif) no-repeat 100% 0%; WIDTH: 5px
}
.modbc {
	BACKGROUND: url(b45a933de6a6a7cb3d6d979d.gif) repeat-x
}
.modbr {
	BACKGROUND: url(61f4944ea06a2f2cb3de059d.gif) no-repeat; WIDTH: 5px
}
#m_blog DIV.tit {
	FONT-WEIGHT: bold; BORDER-LEFT: #7e752a 5px solid; TEXT-INDENT: 10px; LINE-HEIGHT: 20px; TEXT-DECORATION: none
}
#m_blog DIV.tit A {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
#m_blog DIV.tit A:visited {
	FONT-SIZE: 14px; TEXT-DECORATION: none
}
#m_blog DIV.date {
	FONT-SIZE: 10px; MARGIN: 0px 0px 8px; BORDER-LEFT: #7e752a 5px solid; TEXT-INDENT: 10px; FONT-FAMILY: Verdana; TEXT-ALIGN: left
}
#m_blog DIV.cnt {
	FONT-SIZE: 14px; COLOR: #625b49; LINE-HEIGHT: 20px
}
#m_blog DIV.cnt A {
	COLOR: #625b49; TEXT-DECORATION: underline
}
#m_blog DIV.more {
	FONT-WEIGHT: bold; MARGIN: 14px 20px 16px 0px; TEXT-ALIGN: right
}
#m_blog DIV.more A {
	FONT-SIZE: 12px
}
#m_blog DIV.more A:visited {
	
}
#m_blog DIV.opt {
	FONT-SIZE: 12px
}
#m_blog DIV.opt A {
	FONT-SIZE: 12px
}
#m_blog DIV.opt A:visited {
	
}
#m_blog DIV.line {
	
}
#m_blog DIV.none {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 100px; PADDING-TOP: 100px
}
#m_pro .wapper NOBR {
	
}
#m_pro DIV.line {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#phlist DIV.tmp A {
	COLOR: #eddcb8
}
#mod_board {
	
}
DIV#m_comment_post INPUT {
	
}
DIV#m_comment_post INPUT#A {
	
}
DIV#m_comment_post INPUT#B {
	
}
.EditorContainer {
	
}
#m_album DIV.image {
	TEXT-ALIGN: center
}
#m_album DIV.page {
	FONT-SIZE: 12px; TEXT-ALIGN: center
}
#m_album DIV.page A {
	FONT-SIZE: 12px
}
#m_album DIV.page A:visited {
	
}
#m_links DIV.item {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 8px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(011abaf426fa15c97709d753.gif); LINE-HEIGHT: 16px; BACKGROUND-REPEAT: no-repeat
}
#m_links DIV.item A:link {
	FONT-SIZE: 12px
}
A:visited {
	FONT-SIZE: 12px
}
#m_links DIV.item A:hover {
	
}
#m_links DIV.line {
	MARGIN-TOP: 5px; LINE-HEIGHT: 8px
}
#m_artclg DIV.item {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(011abaf426fa15c97709d753.gif); LINE-HEIGHT: 18px; BACKGROUND-REPEAT: no-repeat
}
#m_filed DIV.item {
	BACKGROUND-POSITION: left center; PADDING-LEFT: 25px; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(011abaf426fa15c97709d753.gif); BACKGROUND-REPEAT: no-repeat
}
.mod#mod_bgmusic {
	
}
DIV#cals {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 2px; BORDER-TOP: medium none; PADDING-LEFT: 2px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 2px; BORDER-LEFT: medium none; WIDTH: 100%; PADDING-TOP: 2px; BORDER-BOTTOM: medium none; TEXT-ALIGN: center
}
DIV#cals .cal_body {
	FONT-SIZE: 12px; WIDTH: 100%; FONT-FAMILY: Arial
}
#cals .cal_mth {
	FONT-SIZE: 12px; WIDTH: 100%; FONT-FAMILY: Arial
}
DIV#cals .cal_yr TABLE {
	WIDTH: 30px
}
DIV#cals .cal_yr TD {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; FONT-SIZE: 12px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-BOTTOM: 1px; COLOR: #eddcb8; LINE-HEIGHT: 15px; PADDING-TOP: 1px; WHITE-SPACE: nowrap
}
DIV#cals .cal_yr .cal_pre {
	PADDING-LEFT: 10px; FONT-SIZE: 10px
}
DIV#cals .cal_yr .cal_nxt {
	PADDING-LEFT: 10px; FONT-SIZE: 10px
}
DIV#cals .cal_yr .cal_pre_ovr {
	PADDING-LEFT: 10px; FONT-SIZE: 10px; CURSOR: pointer
}
DIV#cals .cal_yr .cal_nxt_ovr {
	PADDING-LEFT: 10px; FONT-SIZE: 10px; CURSOR: pointer
}
DIV#cals TR {
	
}
DIV#cals TD {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; LINE-HEIGHT: 14px; PADDING-TOP: 3px; FONT-FAMILY: Arial; WHITE-SPACE: nowrap; TEXT-ALIGN: center
}
DIV#cals .today {
	BORDER-RIGHT: #eddcb8 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eddcb8 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #eddcb8 1px solid; COLOR: #eddcb8; PADDING-TOP: 2px; BORDER-BOTTOM: #eddcb8 1px solid; background--color: #EDDCB8
}
DIV#cals .cal_week TD {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Tahoma
}
DIV#cals .cal_date {
	COLOR: #eddcb8
}
DIV#cals .cal_sa {
	COLOR: #eddcb8
}
DIV#cals .cal_su {
	COLOR: #eddcb8
}
DIV#cals .not_come {
	COLOR: #eddcb8
}
DIV#cals .cal_before {
	VISIBILITY: hidden
}
#cals .cal_after {
	VISIBILITY: hidden
}
DIV#cals .cal_active {
	FONT-WEIGHT: bold; COLOR: #eddcb8; TEXT-DECORATION: none
}
DIV#cals .cal_select {
	BORDER-RIGHT: #eddcb8 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #eddcb8 1px solid; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; BORDER-LEFT: #eddcb8 1px solid; COLOR: #eddcb8; PADDING-TOP: 2px; BORDER-BOTTOM: #eddcb8 1px solid; TEXT-DECORATION: underline
}
DIV#cals .yr_normal {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 14px; BORDER-BOTTOM: medium none
}
DIV#cals .mth_normal {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; LINE-HEIGHT: 14px; BORDER-BOTTOM: medium none
}
DIV#cals .yr_sel {
	BORDER-RIGHT: #eddcb8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eddcb8 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #eddcb8 1px solid; CURSOR: pointer; COLOR: #eddcb8; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #eddcb8 1px solid
}
#cals .mth_sel {
	BORDER-RIGHT: #eddcb8 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #eddcb8 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; BORDER-LEFT: #eddcb8 1px solid; CURSOR: pointer; COLOR: #eddcb8; LINE-HEIGHT: 14px; PADDING-TOP: 0px; BORDER-BOTTOM: #eddcb8 1px solid
}
DIV#cals .cal_roll {
	BORDER-RIGHT: #eddcb8 1px solid; BORDER-TOP: #eddcb8 1px solid; DISPLAY: none; FONT-SIZE: 12px; BORDER-LEFT: #eddcb8 1px solid; LINE-HEIGHT: 18px; BORDER-BOTTOM: #eddcb8 1px solid; FONT-FAMILY: Arial; POSITION: absolute
}
DIV#cals .cal_roll .normal {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
DIV#cals .cal_roll .msover {
	CURSOR: pointer; COLOR: #eddcb8
}
DIV#cals .cal_pp_cnt {
	BORDER-RIGHT: #eddcb8 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #eddcb8 1px solid; PADDING-LEFT: 3px; FONT-SIZE: 12px; PADDING-BOTTOM: 3px; BORDER-LEFT: #eddcb8 1px solid; COLOR: #eddcb8; MARGIN-RIGHT: 20px; PADDING-TOP: 3px; BORDER-BOTTOM: #eddcb8 1px solid; FONT-FAMILY: Arial; WHITE-SPACE: nowrap
}
#m_petcard {
	COLOR: #eddcb8
}
#m_petcard A {
	COLOR: #eddcb8
}
#m_petcard DIV.petheader {
	
}
#m_petcard DIV.petheader IMG {
	
}
#m_petcard DIV.line {
	BORDER-TOP: #eddcb8 1px dotted
}
#mod_pet_setting {
	COLOR: #eddcb8
}
#mod_pet_setting A {
	COLOR: #eddcb8
}
#mod_pet_setting DIV.line {
	BORDER-TOP: #eddcb8 1px dotted
}
#mod_pet_info {
	COLOR: #eddcb8
}
#mod_pet_info A {
	COLOR: #eddcb8
}
#mod_pet_record {
	COLOR: #eddcb8
}
#mod_pet_record A {
	COLOR: #eddcb8
}
#set_cs {
	POSITION: absolute! important; TOP: 30px
}
#spBlogCmtText {
	WIDTH: 300px! important
}
#m_event .nav SPAN {
	FONT-WEIGHT: bold; COLOR: #000
}
#m_event .nav SPAN.lk {
	COLOR: #88836d! important; TEXT-DECORATION: none
}
#m_event .alter TD {
	BACKGROUND-COLOR: #f2f6f7
}
#m_event .time {
	COLOR: #333
}
#m_event .line {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 3px; BACKGROUND: url(f3621762fb9670f8e6113a0e.gif) repeat-x 0% 100%; BORDER-LEFT: medium none; LINE-HEIGHT: 3px; BORDER-BOTTOM: medium none; HEIGHT: 3px
}
.ToolbarItem .img {
	COLOR: #333! important
}
.lk {
	COLOR: #88836d; TEXT-DECORATION: none
}
#mySpace .c2t3 .model {
	MARGIN-RIGHT: 10px! important
}
#mySpace TD.mylayout {
	COLOR: #333! important
}
#set_cs TD {
	COLOR: #666
}
#set_cs TD B {
	COLOR: #666
}
#set_cs TD {
	COLOR: #666
}
#set_cs TD B {
	COLOR: #666
}
#start {
	COLOR: #333
}
#m_albumlist DIV.line {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#mod_inbaidu UL {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BACKGROUND: url(f3621762fb9670f8e6113a0e.gif) repeat-x 0% 100%; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#mod_inbaidu .list {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none
}
#cmtArea A {
	FONT-WEIGHT: bold
}
#m_comment DIV.item {
	
}
#m_comment DIV.item A.cnt {
	
}
#m_aboutme DIV.cnt A {
	TEXT-DECORATION: underline! important
}
